<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
	</configSections>

	<akka>
		<hocon>
			<![CDATA[
					akka {
						actor {
							provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
							
							serializers {
								wire = "Akka.Serialization.HyperionSerializer, Akka.Serialization.Hyperion"
							}
							serialization-bindings {
								"System.Object" = wire
							}
						}
						
						remote {
							helios.tcp {
									port = 8080
									hostname = localhost
							}
						}
					}
			]]>
		</hocon>
	</akka>
	<startup> 
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>